<div class="container">
  <div class="row">
    <div>
      <h1>Please enter data for user registration</h1>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="email">Email: </label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email like "Alex@gmail.com"!</span>
          </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              password
              #password="ngModel"
              minlength="6">
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password at least 6 characters!</span>
          </div>
        </div>
          <button
          class="btn btn-primary"
          type="submit" [disabled]="!f.valid">Submit</button>
        </form>
      </div>
    </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <p>Your data is successfully submitted!</p>
    </div>
  </div>
</div>
